.CurrenWeather .overview {
  margin-bottom: 20px;
}

.CurrenWeather #mainInfo {
  list-style-type: none;
  padding-left: 0;
  margin-top: -10px;
  padding-left: 0;
}
.CurrenWeather #city {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}
.CurrenWeather .date {
  color: #9cc1ca;
  font-size: 25px;
}

.CurrenWeather #weatherDeskription {
  color: #9cc1ca;
  font-size: 20px;
}
.CurrenWeather {
  text-align: center;
}
