.MainPage {
  background: linear-gradient(
    135deg,
    rgb(151, 171, 255) 10%,
    rgb(18, 53, 151) 100%
  );
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
.MainPage .weather-app {
  max-width: 800px;
  border: 1px solid #5d5d5d;
  border-radius: 10px;
  padding: 0px 0px 20px;
}
.MainPage h1 {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
  margin-top: 20px;
}
.MainPage ul {
  color: #9cc1ca;
  list-style-type: none;
  padding-left: 0;
  margin-top: -10px;
  padding-left: 0;
}
