.WeatherForecast .weather-forecast {
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.WeatherForecast .weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.WeatherForecast .weather-forecast-temperature {
  font-size: 14px;
}
.WeatherForecast .weather-forecast-temperature-min {
  opacity: 0.6;
}
